.start {
  background-color: green;
  padding: 5px;
  padding-left: 15px;

  h2 {
    color: white;
    font-family: sans-serif;
  }
}

body {
  overscroll-behavior: none;
  font-family: Pumo,Helvetica,sans-serif;
}